<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">主页</a></span>
<span><a title="注册" href="/reg">注册</a></span>
<span><a title="前端" href="/fe">前端</a></span>
</nav>

<article>