.all-stores {
    .menu {
        margin-bottom: 50px;
        .link {
            display: inline-block;
            margin-right: 6px;
            padding: 6px 30px;
            background-color: tan;
        }
    }

}
