/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
body {
  background-color: darkred;
}
.icon-logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.box1 {
  padding: 10px;
  /*px*/
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: darkred;
  text-align: center;
}
.box1 span {
  color: #fff;
  font-size: 30px;
}
.wrap-loading {
  background: url(../images/yes.png) 0 0 no-repeat;
}
