<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13</title>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <h1>APP</h1>
        <div>
            <router-link to="/">Home</router-link>
            <router-link to="/foo/123456">Foo</router-link>
            <router-link to="/foo/123456/bar">Bar</router-link>
        </div>
        <router-view class="view"></router-view>
    </div>

    <script>
        const Home = {
            template: "<h2>This is Home</h2>"
        }

        const Foo = {
            data: () => {
                return {
                    title: "This is Foo",
                    loading: true,
                    post: null,
                }
            },
            template: `<div class="foo">
                        <h2>{{title}}</h2>
                        <div class="loading" v-if="loading">Loading</div>
                        <div class="content" v-if="post">{{post}}</div>
                        <router-view v-bind:hehe="post"></router-view>
                    </div>`,
            beforeRouteEnter(to, ofrom, next) {
                    next(vm => {
                        setTimeout(() => {
                            vm.loading = false;
                            vm.post = to.params.id;
                        }, 3000)
                    })
            },
            watch: {
                "$route": function() {
                    console.log(this);
                    this.post = null;
                    this.loading = true;
                    setTimeout(() => {
                        this.loading = false;
                        this.post = this.$route.params.id;
                    }, 3000)
                }
            }
        }

        const Bar = {
            template: `<h3>This is Bar {{hehe}}</h3>`,
            props: ["hehe"]
        }

        const router = new VueRouter({
            routes: [
                {
                    path: "/",
                    component: Home
                },
                {
                    path: "/foo/:id",
                    component: Foo,
                    children: [
                        {
                            path: "bar",
                            component: Bar
                        }
                    ]
                }
            ]
        })

        new Vue({
            el: "#app",
            router: router
        })
    </script>
</body>
</html>