{
    "extends": "react-app",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "jsx-quotes": [2, "prefer-double"],
        "no-case-declarations": [2],
        "camelcase": [2, {"properties": "never"}],
        "object-curly-spacing": [2, "never"],
        "array-bracket-spacing": [2, "never"],
        "arrow-parens": [2, "as-needed"],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "never"
            }
        ],
        "space-infix-ops": [2],
        "keyword-spacing": [2],
        "comma-spacing": [2],
        "key-spacing": [2],
        "eol-last": [2],
        "no-mixed-operators": [0],
        "import/no-webpack-loader-syntax": 0,
        "eqeqeq": 0,
        "no-unused-vars": [1, {"varsIgnorePattern": "React"}],
        "no-script-url": 0,
        "react/default-props-match-prop-types": [2],
        "react/display-name": [0],
        "react/forbid-component-props": [1, {"forbid": ["style"]}],
        "react/forbid-elements": [0],
        "react/forbid-foreign-prop-types": [0],
        "react/forbid-prop-types": [0],
        "react/jsx-boolean-value": [0],
        "react/jsx-closing-bracket-location": [2],
        "react/jsx-curly-spacing": [2, {"when": "never", "allowMultiline": false}],
        "react/jsx-equals-spacing": [2],
        "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx", ".es"]}],
        "react/jsx-first-prop-new-line": [2],
        "react/jsx-handler-names": [0, {"eventHandlerPrefix": "", "eventHandlerPropPrefix": "on"}],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-key": [1],
        "react/jsx-max-props-per-line": [2, {"when": "multiline", "maximum": 1}],
        "react/jsx-no-bind": [0],
        "react/jsx-no-comment-textnodes": [2],
        "react/jsx-no-duplicate-props": [2],
        "react/jsx-no-literals": [0],
        "react/jsx-no-target-blank": [1],
        "react/jsx-no-undef": [2],
        "react/jsx-pascal-case": [2],
        "react/jsx-sort-props": [0],
        "react/jsx-tag-spacing": [2],
        "react/jsx-uses-react": [0],
        "react/jsx-uses-vars": [2],
        "react/jsx-wrap-multilines": [2],
        "react/no-array-index-key": [2],
        "react/no-children-prop": [2],
        "react/no-danger-with-children": [2],
        "react/no-danger": [0],
        "react/no-deprecated": [1],
        "react/no-did-mount-set-state": [2],
        "react/no-did-update-set-state": [2],
        "react/no-direct-mutation-state": [2],
        "react/no-find-dom-node": [2],
        "react/no-is-mounted": [2],
        "react/no-multi-comp": [2, {"ignoreStateless": true}],
        "react/no-render-return-value": [2],
        "react/no-set-state": [0],
        "react/no-string-refs": [1],
        "react/no-unescaped-entities": [2],
        "react/no-unknown-property": [2],
        "react/no-unused-prop-types": [1],
        "react/no-will-update-set-state": [2],
        "react/prefer-es6-class": [2],
        "react/prefer-stateless-function": [2],
        "react/prop-types": [1, {"ignore": ["global", "self", "dispatch", "ajax", "match", "location", "history"]}],
        "react/react-in-jsx-scope": [0],
        "react/require-default-props": [0],
        "react/require-optimization": [0],
        "react/require-render-return": [2],
        "react/self-closing-comp": [2, {"component": true, "html": false}],
        "react/sort-prop-types": [0],
        "react/style-prop-object": [2],
        "react/void-dom-elements-no-children": [2],
        "jsx-a11y/href-no-hash": 0,
        "react/sort-comp": [
            2,
            {
                "order": [
                    "static-properties",
                    "static-methods",
                    "lifecycle",
                    "everything-else",
                    "render"
                ],
                "groups": {
                    "static-properties": [
                        "displayName",
                        "propTypes",
                        "contextTypes",
                        "childContextTypes",
                        "mixins",
                        "statics"
                    ],
                    "lifecycle": [
                        "defaultProps",
                        "constructor",
                        "getDefaultProps",
                        "getInitialState",
                        "state",
                        "getChildContext",
                        "componentWillMount",
                        "componentDidMount",
                        "componentWillReceiveProps",
                        "shouldComponentUpdate",
                        "componentWillUpdate",
                        "componentDidUpdate",
                        "componentWillUnmount"
                    ]
                }
            }
        ]
    }
}
