<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>listRender</title>
    <script src="../js/vue.js"></script>
    <script>
    Vue.component("todo-item", {
        props: ["title"],
        template: `<li>
                    {{ title }}
                    <button v-on:click="$emit('remove')">X</button>
                </li>`
    })
    </script>
</head>

<body>
    <div id="app1">
        <ul>
            <li v-for="(value, index) in list">{{parentMessage + "-" + value.message + "-" + index}}</li>
        </ul>
    </div>
    <div id="app2">
        <ul>
            <li v-for="(value, key) in obj1">{{value + "-" + key}}</li>
        </ul>
    </div>
    <div id="app3">
        <input type="text" v-model="newTodoText" v-on:keyup.enter="addNewTodo">
        <ul>
            <todo-item v-for="(value, index) in todos" v-if="value != 1" v-bind:key="value" v-bind:title="value" v-on:remove="todos.splice(index, 1)"></todo-item>
        </ul>
    </div>

    <div id="app4">
        <ul>
            <li v-for="value in evenNumber">{{value}}</li>
        </ul>
    </div>

    <div id="app5">
        <ul>
            <li v-for="value in even(numberList)">{{value}}</li>
        </ul>
    </div>

    <script>
    var vm1 = new Vue({
        el: "#app1",
        data: {
            parentMessage: "asd",
            list: [{
                message: 1
            }, {
                message: 2
            }, {
                message: 3
            }]
        }
    });

    var vm2 = new Vue({
        el: "#app2",
        data: {
            obj1: {
                a: "asd",
                b: "fgh",
                c: "jkl"
            }
        }
    });
    var obj1 = {
        a: "asd",
        b: "fgh",
        c: "jkl"
    }
    for (let [key, value] of Object.entries(obj1)) {
        console.log(key, value);
    }
    var vm3 = new Vue({
        el: "#app3",
        data: {
            newTodoText: "",
            todos: []
        },
        methods: {
            addNewTodo: function() {
                this.todos.push(this.newTodoText);
                this.newTodoText = "";
            },
            deleteItem: function() {

            }
        }
    })

    var vm4 = new Vue({
        el: "#app4",
        data: {
            numberList: [1, 2, 3, 4, 5, 6]
        },
        computed: {
            evenNumber: function() {
                return this.numberList.filter(function(value) {
                    return value%2 === 0;
                })
            }
        }

    });

    var app5 = new Vue({
        el: "#app5",
        data: {
            numberList: [1, 2, 3, 4, 5, 6, 7, 8]
        },
        methods: {
            even: function(arr) {
                return arr.filter((value) =>{
                    return value%2 === 0;
                })
            }
        }
    })
    </script>
</body>

</html>
