.error-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    .cover {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body {
        height: 400px;
        width: 300px;
        background: #ffffff;
        overflow-y: scroll;
        padding: 10px;
        .content {
            height: 1000px;
            background-color: tan;
        }
    }
}