.box {
    margin-top: 200px;

    max-height: 60px;
    line-height: 30px;
    background-color: tan;
    overflow: hidden;
    clear: both;
    & > * {
        display: inline-block;
    }
    .text {

    }
    .more {

    }
    .time {
        float: right;
        line-height: 30px;
        padding-left: 20px;
        background-color: tan;
    }
}