{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "semi": "error",
        "object-curly-spacing": "error"
    }
}
