@import './common/common.less';
@import './fullPage/jquery.fullPage.less';

.icon-fe {
  .sprite(@fe);
}
.icon-index {
  .sprite(@index);
}
.icon-favicon {
  .sprite(@favicon);
}

.page-container {
  text-align: center;
  p {
    font-size: 48px; /*px*/
    text-align: center;
  }
  .icon {}
}
