* {
    margin: 0;
}

.editor {
    padding: 20px;
}

.wrap-btns {
    display: flex;
    justify-content: space-between;
}

.wrap-canvas {
    margin: 10px 0;
    position: relative;
    width: 800px;
    height: 500px;
    background-position: center center;
    background-size: contain;
    background-color: #333333;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 666px;
        height: 500px;
        border-right: 1px solid red;
        border-left: 1px solid red;
        z-index: 10;
        user-select: none;
        pointer-events: none;
    }

    /* &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        user-select: none;
        pointer-events: none;
        background-color: rgb(0 0 0 / 50%);
    } */

    .canvas-container {
        z-index: 10;
    }

    .crop-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .canvas-container {
            margin: 0 auto;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        // z-index: -1;
    }
}