<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>3</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="div1">
    <label for="jack"><input type="checkbox" id="jack" value="Jack" v-model="checkName">jack</label>
    <label for="mike"><input type="checkbox" id="mike" value="Mike" v-model="checkName">mike</label>
    <label for="hell"><input type="checkbox" id="hell" value="Hell" v-model="checkName">hell</label>
    <h1>{{checkName}}</h1>
  </div>

  <script>
    var vm = new Vue({
      el: '#div1',
      data: {
        checkName: []
      }
    })
  </script>
</body>
</html>