@import 'reset.less';
@import 'custom.less';

.blog-container {
  margin: 0 auto;
  width: 850px;
}

/* 清浮动 */
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 文本ellipsis*/
.over-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
