<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>a2</title>
  <style>
    .done-true {
      text-decoration: line-through;
      color: grey;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body>
  <div ng-app="todoApp">
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </div>

  <script>
  angular.module('todoApp', [])
    .controller('TodoListController', function() {
      var todoList = this;

      todoList.todos = [
        { text: 'learn angular', done: true },
        { text: 'build an angular app', done: false }
      ];

      todoList.addTodo = function() {
        todoList.todos.push({ text: todoList.todoText, done: false });
        todoList.todoText = '';
      };

      todoList.remaining = function() {
        var count = 0;
        angular.forEach(todoList.todos, function(todo) {
          count += todo.done ? 0 : 1;
        });
        return count;
      };

      todoList.archive = function() {
        var oldTodos = todoList.todos;
        todoList.todos = [];
        angular.forEach(todoList.todos, function(todo) {
          if (!todo.done) todoList.todos.push(todo);
        });
      };
    });
  </script>

  <script>

  </script>
</body>

</html>