{
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}